.container {
  height: 400px;
  border: 1px solid #575757;
}

.box {
  color: #fff;
  margin: 5px;
  flex-basis: 200px;
  width: 200px;
  background-color: #ccc;
}

.box1 {
  background-color: #e87070;
}

.box2 {
  background-color: #7970E8;
}

.box3 {
  background-color: #59B898;
}

.container {
  display: flex;
}

