/* Lesson1-1の解答です。 */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  display: flex;
}

main {
  display: flex;
  flex-wrap: wrap;
}

main .animal {
  width: calc(100% / 3 - 10px);
  margin: 5px;
}

@media (max-width: 600px) {
  header {
    flex-direction: column;
  }

  main .animal {
    width: calc(100% / 2 - 10px);
  }
}